<div class=" tasks panel-body">
    <div class="panel-group" id="filter-menu" role="tablist" aria-multiselectable="true" ng-controller='TaskCtrl' ng-init='getList()'>
    
        <div ng-if="!taskData && !message" class="preloader">
        </div>

        <div ng-if="message && !taskData" ng-bind-html="message">
        </div>

        <div ng-if="dataLoaded">

            <div ng-include="'app/shared/paginationPartialView.html'"></div>

            <div class="task" ng-repeat="task in taskData">
                <div class="panel panel-default" ng-class="(task.idState == 5) ? 'resolved' : ''">
                    <div class="panel-heading padding-5" ng-if="!problemid">
					
                        <a ng-show="canShowProblems"  ui-sref="Problem({id: '{{task.idProblem}}'})">Problem #{{task.idProblem}}</a>
						<span ng-hide="canShowProblems"  >Problem #{{task.idProblem}}</span>
                    </div>
                    <div class="panel-body padding-5" >
                        <div class="row">
                            <div class="col-xs-1 cols-sm-1 col-md-1">
                                <span class="label {{task.priority | labelPriority}}" title="Priorytet zadania: {{task.priority | priortyDescription}}" bs-tooltip>
                                    {{task.priority}}
                                </span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div>

                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                    <span title="Dodano: {{task.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}" am-time-ago="task.dateNotification" bs-tooltip>
                                    </span>
                                </div>
                                <div ng-class="(task.idState != 1 && task.idState != 5) ? '{{task.dateRealization | coloredDate}}' : ''">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    <span title="Termin realizacji: {{task.dateRealization| amDateFormat: 'dddd, D MMMM YYYY H:mm'}}""  am-time-ago="task.dateRealization" bs-tooltip>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-2">
                                <a ng-show="task.userExecuteTasksById.length>0" data-toggle="modal" role="button" title="Kliknij, by przejrzeć listę" data-target="#addUser-{{task.id}}">
                                    <i title="{{task.executorsString}}" bs-tooltip><span class="badge">{{task.userExecuteTasksById.length}} wykonuje</span></i>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3" title="Bieżący status: {{task.state}}"> 
                                <i class="fa fa-flag"></i> {{task.state}}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2" title="Zadanie dodane przez: {{task.author.firstname + ' ' + task.author.surname}}" bs-tooltip>
                                <b><i class="fa fa-user-plus"></i> {{task.author.firstname + " " + task.author.surname}}</b>
                            </div>
                            
                            <div class="textToRight col-xs-3 col-sm-3 col-md-1 task-buttons no-collapsable pull-right">
                                <button class="btn btn-warning btn-xs" data-target="#editProblemModal" title="Edytuj zadanie" ng-click="openEditTaskWindow(task.id)" bs-tooltip>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button ng-show="showDeleteButton" class="btn btn-danger btn-xs" data-target="#editProblemModal" title="Usuń zadanie" ng-click="openRemoveTaskWindow(task.id)" bs-tooltip>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-12 task-content">
                                    {{task.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addUser-{{task.id}}" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Wykonawcy zadania #{{task.id}}</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Imię i nazwisko laboranta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="executor in task.userExecuteTasksById">
                                            <td>{{ executor.firstname }} {{ executor.surname }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="textToRight">Łącznie: {{task.userExecuteTasksById.length | executorsIntToString}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>