<div ng-controller="AdminPanelCtrl">
    <div ng-attr-id="{{showMenu ? 'wrapper': ''}}">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{title}}</a>
            </div>

            <ul class="nav navbar-right top-nav" ng-controller="CurrentUserCtrl">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" role="button" dropdown-toggle>
                        <i class="fa fa-user"></i> {{user}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" dropdown-menu>
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
                        </li>
                        <li class="divider"></li>-->
                        <li>
                            <a href="#" ng-click="changePassword()"><i class="fa fa-fw fa-key"></i> Zmień hasło</a>
                        </li>
						<li>
                            <a href="#" ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
           
            <div ng-controller="NavCtrl" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul ng-show="showMenu" class="nav navbar-nav side-nav">
                    <li ng-class="{active: $state.is('PanelHome')}">
                        <a ui-sref="PanelHome"><i class="fa fa-fw fa-home"></i> Strona główna</a>
                    </li>
                    <li ng-show="showProblems" "ng-class="{active: $state.is('Problemy') || $state.is('Problem')}">
                        <a ui-sref="Problemy"><i class="fa fa-fw fa-exclamation-triangle"></i> Problemy</a>                        
                    </li>
                    <li ng-show="showTasks" ng-class="{active: $state.is('Zadania')}">
                        <a ui-sref="Zadania"><i class="fa fa-tasks"></i> Zadania</a>
                    </li>
                    <li ng-show="showUsers" ng-class="{active: $state.is('Uzytkownicy') || $state.is('Uzytkownik')}">
                        <a ui-sref="Uzytkownicy"><i class="fa fa-fw fa-address-book"></i> Lista użytkowników</a>
                    </li>
                    <li ng-show="showLaboratories" ng-class="{active: $state.is('Laboratorium') || $state.is('Laboratoria')}">
                        <a ui-sref="Laboratoria"><i class="fa fa-fw fa-cubes"></i> Laboratoria</a>
                    </li>
                    <li ng-show="showComputers" ng-class="{active: $state.is('Komputer') || $state.is('Komputery')}">
                        <a ui-sref="Komputery"><i class="fa fa-fw fa-laptop"></i> Komputery</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="span12">
                        <div ui-view></div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>