<div>
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">eLaborant - panel użytkownika</a>
            </div>

            <ul class="nav navbar-right top-nav" ng-controller="CurrentUserController">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>


        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="span12">


                    <div ng-controller="addProblemByUserFormController">

                        <form name="addProblemForm" ng-submit="processForm()">
                            <div>
                                <div ng-show="IsResponseError">
                                    <div class="alert alert-danger">
                                        <strong>Błąd przy dodawaniu problemu:</strong>
                                        {{ResponseErrorMessage}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="source">Proszę określić, czego problem dotyczy:</label>
                                    <div class="input-group problem-source">
                                        <label role="button">
                                            <input type="radio" ng-model="problem.source" value="computer" name="source">
                                            <span>Komputer</span>
                                        </label>
                                        <label role="button">
                                            <input type="radio" ng-model="problem.source" value="laboratory" name="source">
                                            <span>Sala laboratoryjna</span>
                                        </label>
                                    </div>
                                </div>

                                <div ng-show="problem.source">
                                    <div class="form-group" ng-class="{'has-error': addProblemForm.idLaboratory.$invalid}">
                                        <label for="idLaboratory" class="control-label">Laboratorium:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                                            <select class="form-control" ng-change="computersList()" name="idLaboratory" ng-model="problem.idLaboratory" required>
                                                <option ng-repeat="lab in labListData" value="{{lab.id}}">{{lab.building + lab.roomNo}}</option>
                                            </select>
                                        </div>
                                        <div ng-show="addProblemForm.idLaboratory.$invalid && addProblemForm.idLaboratory.$touched && showErrors" class="help-block with-errors">
                                            Proszę wybrać laboratorium
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="problem.source=='computer'" ng-class="{'has-error': addProblemForm.idComputer.$invalid}">
                                        <label for="idComputer" class="control-label">Komputer:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                                            <select class="form-control" name="idComputer" ng-model="problem.idComputer" ng-required="problem.source=='computer'">
                                                <option ng-repeat="comp in computersListData" value="{{comp.id}}">{{comp.barcode + ' ' + comp.name}}</option>
                                            </select>
                                        </div>
                                        <div ng-show="addProblemForm.idComputer.$invalid && addProblemForm.idComputer.$touched && showErrors" class="help-block with-errors">
                                            Proszę wybrać komputer
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': addProblemForm.content.$invalid}">
                                        <label for="content" class="control-label">Opis problemu:</label>
                                        <div class="input-group" style="z-index:0">
                                            <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                            <textarea class="form-control" name="content" ng-model="problem.content" ng-minlength="10" ng-maxlength="2000" required></textarea>
                                        </div>
                                        <div ng-show="addProblemForm.content.$invalid && addProblemForm.content.$touched && showErrors" class="help-block with-errors">
                                            Treść problemu musi wynosić minimum 10 znaków oraz być krótsza niż 2000 znaków.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div>

                                <button type="submit" class="btn btn-success" ng-disabled="addProblemForm.$invalid" ng-click="save()">Dodaj</button>
                            </div>

                        </form>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

