<div class="row">
	<div class="col-lg-12" ng-controller='ProblemCtrl' ng-init='getList()' id="problems-list">
  	<h2>Zgłoszone problemy</h2>
      
  	<div class="filter-menu">

      <div class="row">
        <div class="col-md-6">        
        </div>
        <div class="col-md-6">
          <button class="btn btn-success pull-right" ng-click="addNewProblem()">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Dodaj nowy problem
          </button>
        </div>
      </div>

  		<div class="panel">
  			<div class="panel-body">
          <div class="panel-group" id="filter-menu" role="tablist" aria-multiselectable="true">
                      
            <div ng-hide="problemsListData || errorMessage" class="preloader">
            </div>

            <div ng-show="errorMessage && !problemsListData" ng-bind-html="errorMessage" class="responseErrorMessage">
            </div>

            <div ng-show="problemsListData" class="problemList">
              <div ng-include="'app/shared/paginationPartialView.html'"></div>
           		<div class="panel panel-default" ng-repeat="p in problemsListData">
            		<div class="panel-heading" ng-class="(p.isResolved) ? 'resolved' : ''" id="headingOne">
                  <div class="row panel-title accordion-toggle" aria-expanded="true">
                    <div class="hidden-xs float-left">
                      <span class="checkbox checkbox-primary checkbox-circle checkbox-lg" data-placement="left" title="{{p.isResolved ? 'Problem oznaczono jako rozwiązany' : 'Kliknij, by oznaczyć problem jako rozwiązany' }}" bs-tooltip>
                        <input id="checkbox-{{p.id}}" class="styled" type="checkbox" ng-model="p.isResolved" ng-change="editEntity(p.id, p.isResolved)">
                        <label for="checkbox-{{p.id}}"></label>
                      </span>
                    </div>
           					<div class="col-xs-4 col-sm-4 col-md-2 problemId">
                      <button ui-sref="Problem({id: '{{p.id}}'})" class="btn btn-xs btn-default btn-preview" title="Przejdź do strony problemu" bs-tooltip>
                         <i class="fa fa-share fa-1" aria-hidden="true"></i>
                      </button>
                      <a ui-sref="Problem({id: '{{p.id}}'})">
                        <strong>#{{p.id}}</strong><br>
                      </a>
                      <span class="badge">
                        <time am-time-ago="p.dateNotification" title="Zgłoszono: {{p.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm'}}" bs-tooltip></time>
                      </span>
                    </div>
           					<div class="hidden-xs col-sm-2 col-md-2">
                      <span title="Zgłaszający: {{p.author.firstname}} {{p.author.surname}}" bs-tooltip>
                        {{p.author.firstname}} {{p.author.surname}}
                      </span>
                    </div>
           					<div class="col-xs-6 col-sm-3 col-md-2">
                      <a ui-sref="Komputer({id: '{{p.computer.id}}'})" ng-click="$event.stopPropagation()" ng-show="p.computer" title="Lokalizacja komputera: {{p.computer.laboratory.building + p.computer.laboratory.roomNo}}" bs-tooltip>
                        <i class="fa fa-desktop"></i>
                        {{p.computer.name}}
                      </a>

                      <a ui-sref="Laboratorium({id: '{{p.laboratory.id}}'})" ng-click="$event.stopPropagation()" ng-show="p.laboratory" title="Sala laboratoryjna" bs-tooltip>
                        <i class="fa fa-cube"></i>
                        {{p.laboratory.building + p.laboratory.roomNo}}
                      </a>
                    </div>
                    <div class="col-md-1 text-right col-md-push-5">
                      <button class="btn btn-xs btn-danger btn-preview" ng-click="openRemoveProblemWindow(p.id)" title="Usuń problem" bs-tooltip>
                        <i class="fa fa-trash-o fa-1" aria-hidden="true"></i>
                      </button>
                      &nbsp;
                    </div>
           					<div class="col-xs-12 col-sm-12 col-md-4 problem-desc "><i>{{p.content}}</i></div>
            			</div>
            		</div>
            	</div>
            </div>
          </div>
      	</div>
      </div> 
    </div>
  </div>	
</div>