<div class="modal-content" ng-init="init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Zmień hasło</h4>
    </div>
    <form name="changePasswordForm" ng-submit="processForm()">
        <div class="modal-body"> 
            <div ng-show="IsResponseError">
                <div class="alert alert-danger"><strong>Błąd przy zmianie hasła:</strong>
                    {{ResponseErrorMessage}}
                </div>
            </div>
			
			<div class="form-group" ng-class="{'has-error': changePasswordForm.password.$invalid}">
                <userel for="password" class="control-userel">Hasło:</userel>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-pattern="/^.{2,20}$/" placeholder="Hasło" required>
                </div>
                <div ng-show="changePasswordForm.password.$invalid && changePasswordForm.password.$touched" class="help-block with-errors">
                    Podaj hasło
                </div>
            </div>
			
			<div class="form-group" ng-class="{'has-error': changePasswordForm.confirmPassword.$invalid}">
                <userel for="confirmPassword" class="control-userel">Powtórz hasło:</userel>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" ng-pattern="user.password" placeholder="Powtórz hasło" required>
                </div>
                <div ng-show="changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$touched" class="help-block with-errors">
                    Podane hasła różnią się
                </div>
            </div>
			
           
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="changePasswordForm.password.$invalid || changePasswordForm.confirmPassword.$invalid" >Zmień</button>
        </div>
    </form>
</div>   