<div class="row">
    <div class="col-lg-12" ng-controller="UserCtrl" ng-init="getList()">
        <h2>Lista użytkowników</h2>

        <div ng-if="!usersListData && !message" class="preloader">
        </div>
        <div ng-if="!usersListData && message" ng-bind-html="message">
        </div>

        <div ng-if="usersListData" class="table-responsive">
            <div class="row">
                <div class="col-md-6">
                    Liczba użytkowników: {{totalElements}}
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ng-click="addNewUser()">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> Dodaj nowego użytkownika
                    </button>
                </div>
            </div>


            <div ng-include="'app/shared/paginationPartialView.html'"></div>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th>Rola</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in usersListData">
                        <td>{{ user.firstname }} {{user.surname}}</td>
                        <td>{{ user.role.name }}</td>
                        <td>

                            <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editProblemModal" title="Zmień hasło" ng-click="openChangePasswordWindow(user.id)" bs-tooltip>
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </button>

                            <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editProblemModal" title="Edytuj użytkownika" ng-click="editUser(user.id)" bs-tooltip>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editProblemModal" title="Usuń użytkownika" ng-click="openRemoveUserWindow(user.id)" bs-tooltip>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--
<div class="modal fade" data-backdrop="static" data-keyboard="true" id="addUser" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" ng-controller="addTaskFormController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj użytkownika</h4>
            </div>
            <form name="addUserForm" ng-submit="processForm()">
                <div class="modal-body">
                    <div ng-show="IsResponseError">
                        <div class="alert alert-danger"><strong>Błąd przy dodawaniu użytkownika:</strong>
                            {{ResponseErrorMessage}}
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addUserForm.name.$invalid}">
                        <label for="name" class="control-label">Imię i nazwisko:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type='text' name='name' ng-model="user.name" class="form-control" ng-pattern="/^[A-zÀ-ž\s]{2,}[ -][A-zÀ-ž\s]{2,}$/" required />
                        </div>
                        <div ng-show="addUserForm.name.$invalid && addUserForm.name.$touched" class="help-block with-errors">
                            Proszę podać imię oraz nazwisko
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addUserForm.email.$invalid}">
                        <label for="email" class="control-label">E-mail:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
                            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="imie.nazwisko@polsl.pl" required>
                        </div>
                        <div ng-show="addUserForm.email.$invalid && addUserForm.email.$touched" class="help-block with-errors">
                            Proszę podać poprawny adres e-mail
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addUserForm.phone.$invalid}">
                        <label for="phone" class="control-label">Numer telefonu:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <input type="text" name="phone" class="form-control" ng-model="user.phone" ng-pattern="/^([0-9]{9,})/" required>
                        </div>
                        <div ng-show="addUserForm.phone.$invalid && addUserForm.phone.$touched" class="help-block with-errors">
                            Proszę podać numer telefonu (bez separatorów)
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addUserForm.role.$invalid}">
                        <label for="role" class="control-label">Rola:</label>
                        <div class="input-group" ng-controller='roleList'>
                            <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                            <select class="form-control" name="role" ng-model="user.role" required>
                                <option ng-repeat="x in myData" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div ng-show="addUserForm.role.$invalid && addUserForm.role.$touched" class="help-block with-errors">
                            Proszę wybrać element z listy
                        </div>
                    </div>

                    <pre>
                    {{ user | json }}
                    </pre>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-success" ng-disabled="addUserForm.$invalid">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>-->
