<div ng-controller="ComputerCtrl" ng-init="getEntity()">
    <div class="prevLink">
    </div>

    <div ng-hide="computerDataLoaded || errorDataLoaded!=''" class="preloader">
    </div>

    <div ng-bind-html="errorDataLoaded"></div>

    <div ng-show="computerDataLoaded">
        <div class="panel panel-default" ng-repeat="comp in computerData">
            <div class="panel-heading">
                <h3> Komputer: {{comp.name}}
                </h3>
            </div>
            

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 textToRight">Kod (identyfikator): </div>
                            <div class="col-xs-6 col-sm-8">{{comp.barcode}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 textToRight">IP: </div>
                            <div class="col-xs-6 col-sm-8">{{comp.ip || '-'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 textToRight">Adres mac: </div>
                            <div class="col-xs-6 col-sm-8">{{comp.mac || '-'}}</div>
                        </div>
                        <div class="row">
                            <div class="margin-top">
                                <div class="col-xs-6 col-sm-4 textToRight">Laboratorium: </div>
                                <div class="col-xs-6 col-sm-8">{{comp.laboratory.building + comp.laboratory.roomNo}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 textToRight">Opiekun: </div>
                            <div class="col-xs-6 col-sm-8">{{comp.laboratory.owner.firstname + ' ' + comp.laboratory.owner.surname}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--
        <div id="task-list" class="panel panel-default">
            
            <div class="panel-heading">
                <h4>
                    Zgłoszone problemy
                </h4>
            </div>

            <div ng-show="dataLoaded" ng-repeat="problem in problemsData">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3"><strong>#{{problem.id}}</strong><br>
                            <span class="badge">
                                <time am-time-ago="problem.dateNotification" title="{{ problem.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm ' }}">
                                </time>
                            </span>
                        </div>
                        <div class="cols-xs-6 col-sm-6 col-md-3">{{problem.author.firstname}} {{problem.author.surname}}</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 problem-desc"><i>{{problem.content}}</i></div>
                    </div>
                </div>
            </div>

            <div ng-show="dataLoaded" class="row pagination-container">
                <div class="col-xs-12 col-sm-9">
                    <br>
                    <ul class="pagination">
                        <li ng-class="currentPage==0 ? 'disabled' : ''">
                            <a href="#" ng-click="computerProblemsData(currentPage - 1)">«</a>
                        </li>
                        <li ng-repeat="x in pages" ng-class="x==currentPage ? 'active' : 'active2'">
                            <a href="#" ng-click="computerProblemsData(x)">{{x+1}}</a>
                        </li>
                        <li ng-class="(currentPage==pages.length-1) ? 'disabled' : ''">
                            <a href="#" ng-click="(currentPage==pages.length-1) ? null : computerProblemsData(currentPage + 1)">»</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 form-group paginationPageSize">
                    Wyników na stronę:<br>
                    <select class="form-control" ng-model="pageSize" ng-change="computerProblemsData(0)" ng-options="v for v in [5,10,25,50,100]">
                    </select>
                </div>
            </div>

            <div class="row infoMessage">
                {{ message }}
            </div>
        </div>-->
    </div>
</div>