<div class="modal-content" ng-init="init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{windowTitle}}</h4>
    </div>
    <form name="addLabForm" ng-submit="processForm()">
        <div class="modal-body"> 
            <div ng-show="IsResponseError">
                <div class="alert alert-danger"><strong>{{errorMessage}}:</strong>
                    {{ResponseErrorMessage}}
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': addLabForm.roomNo.$invalid}">
                <label for="roomNo" class="control-label">Nazwa laboratorium:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                    <input type="text" name="roomNo" class="form-control" ng-model="lab.roomNo" ng-pattern="/^[0-9A-zÀ-ž\s]{2,10}$/" placeholder="Nazwa laboratorium" required>
                </div>
                <div ng-show="addLabForm.roomNo.$invalid && addLabForm.roomNo.$touched" class="help-block with-errors">
                    Podaj poprawną nazwę laboratorium od 2 do 10 znaków
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': addLabForm.building.$invalid}">
                <label for="building" class="control-label">Wydział:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <select class="form-control" name="building" ng-model="lab.building" required>
                        <option value="MS">Wydział Matematyki Stosowanej</option>
                        <option value="LB">Laboratorium Budownictwa</option>
                    </select>
                </div>
                <div ng-show="addLabForm.building.$invalid && addLabForm.building.$touched" class="help-block with-errors">
                    Proszę wybrać wydział
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': addLabForm.idOwner.$invalid}">
                <label for="idOwner" class="control-label">Opiekun laboratorium:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                    <select class="form-control" name="idOwner" ng-model="lab.idOwner" required> 
                        <option ng-repeat="x in usersListData" value="{{x.id}}">{{x.firstname}} {{x.surname}}</option>
                    </select>
                </div>
                <div ng-show="addLabForm.idOwner.$invalid && addLabForm.idOwner.$touched" class="help-block with-errors">
                    Proszę wybrać opiekuna laboratorium
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-success" ng-disabled="addLabForm.$invalid" ng-click="save()">{{buttonName}}</button>
        </div>
    </form>
</div>   